*{
	padding: 0 0;
	margin: 0 0;
	font-family:'Quicksand', sans-serif;

}

@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.otf);
}

body {

    overflow-x: hidden;
   	background:url("../images/MetallicBackground.jpg") no-repeat fixed;
	background-size: 100% 100%;
}

h1{	
	color:white;
	text-align: center;
	text-decoration:none;
	font-family:'Quicksand', sans-serif;

}

p{
	height:200px;
	width:100%;
	text-align: center;
	font-size: 300%;
	color:black;
	background:rgba(255,255,255,1);
	clear:both;
	padding-top:25px;
	padding-left: 20%;
	padding-right:20%;
}

#nav-container {
	padding-left:10%;
    position: fixed;
    height: 40px;
    width: 100%;
   	background: rgba(60,60,60,.5);
   	z-index: 10;
}

#nav {
    list-style: none;
    width:100%;
    float:right;
    position: relative;
}

#nav li {
    float: left;
    display: block;
    height: 40px;
    width: 20%;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    color:white ;
}
#nav li:hover {
    float: left;
    display: block;
    height: 40px;
    width: 20%;
    background: rgba(75,75,75,.5);
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    color:white ;
}
#span {
	margin-left:2.5%;
    height: 6px;
    width: 15%;
    background: white ;
    position: absolute;
    bottom: 0;
    -webkit-transition: all .1s;
}
#anchor1, #anchor2, #anchor3, #anchor4{
	clear:both;
}
#contactWrapper{
	position: absolute;
	margin-left:10%;
	width:70%;
	top:70%;
	z-index: 3;
}
.container{
	width: 100%;
	height: 5400px;
	display: block;
	clear:both;
}
.space{

	height:150px;
	width:100%;
	display:block;
}
.heading{
	color:white;
	font-size:300%;
	text-align: center;
	text-decoration:none;
	font-family:'Quicksand', sans-serif;
}
.subText{
	padding: 100px 100px;
	color:white;
	font-size:150%;
	text-align: justify;
	text-decoration:none;
	font-family:'Quicksand', sans-serif;
}
.content1, .content2, .content3, .content4{
	width: 100%;
}

.content2{
	position: relative;
	z-index: 1;
}
.contact{
	padding-bottom:100px;
	width: 60%;
	margin-left:5%;
}

.w3-btn{
	height:100%;
}

/* Dropdown Button */
.dropbtn {
    width: 40px;
    height: 40px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	height:40px;
	width:40px;
	margin-left:15%;
    position: relative;
    display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(50,50,50,50,.9);
    margin-left:-160px;
	top: 40px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(200,200,200);
    padding: 12px 16px;
    text-decoration: none;
    text-align:right;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background: rgba(75,75,75,.3)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}